{{#> 
	layouts/main 
	title="Introduction" 
	pagename="intel_introduction" 
	heading="<i class='fal fa-info-circle'></i> Introduction" 
	category_1="Application Intel" 
	pagedescription="A brief introduction to this WebApp"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
	<h3 class="mb-g">
	Hi Everyone,
	</h3>

	<p>	
	Some time ago we asked for your input, whether you were a seasoned {{app}} user or just peeking around the corner, and WOW, did you deliver! After reading each and everyone of your replies on the survey, we have taken each piece of praise and criticism to heart to scope out our plans for {{app}}. All feedback will be used to make your favorite theme that much better, but these were some of the highlights.
	</p>
	<p>
	A whopping 72% of you said you were ready for a fresh new design, while {{app}} is and a revolutionary view on what a good bootstrap based template should be, having something new to look at can make anyone feel invigorated. And let's be honest, who doesn't like a modern update of your favorite theme! While most you are still happy with the current variations, around 50% of you have asked for vue.js support. With this framework rapidly gaining popularity it is surely one to include in the family of frameworks! And, last, but certainly not least, a very large majority of a staggering 90% wanted more plugins and regular updates.
	</p>
	<p>
	SmartAdmin takes great care to ensure that valuable and popular plugins are supported as much as possible on a drop-in basis, meaning without doing heavy modifications to extend the look and feel of your favorite admin template :) . And if the plugin is in demand enough, we won't hesitate to put in the hours to support the look and feel of {{app}}.
	</p>
	<p>
	But how you ask? Well in order to make the next version of {{app}} the best ever and to re-deliver on our promise of continued support and quality, we wrote the theme from the ground-up using the latest Bootstrap practises. As a result we are better able to support new frameworks as they come up and ensure that plugin support is quick and reliable. In addition we have partnered up with some of the communities best developers to ensure that our tailor made variations are of top-notch quality and follow the principles that we at {{app}} take to heart.
	</p>
	<p>
	We're really confident that {{app}} 4.0 will bring back that first theme experience while still keeping the familiarity that you have grown used to. It's a brand new theme, but with all the things you love and then some. And to ensure that you our loyal customers get this experience first-hand, we will be publishing the HTML update free-of-charge as an update to your current {{app}} license! That's right, once the theme is fully ready you will receive an update mail like usual, but this time it will contain {{app}} 4.0!
	</p>
	<p>
	Last but not least, we would like to thank each and everyone of you, our loyal customers, for your patience and continued support in {{app}}. Without you this would not have been possible!
	</p>
	<p>
	Sincerely,<br>
	The {{app}} Team<br>
	</p>

</div>


<div class="d-flex">
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center">
		<img src="img/demo/authors/sunny.png" alt="sunny" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
			<h5 class="m-0">
				Sunny A. (UI/UX Expert)
				<small class="m-0 fw-300">
					SmartAdmin Main Author
				</small>
			</h5>
			<a href="https://twitter.com/@myplaneticket" class="text-info fs-sm">@myplaneticket</a>
		</div>
	</div>
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center">
		<img src="img/demo/authors/josh.png" alt="josh" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
			<h5 class="m-0">
				Josh K. (.Net Core Developer)
				<small class="m-0 fw-300">
					SmartAdmin Co-Author
				</small>
			</h5>
			<a href="https://twitter.com/@joshkrause" class="text-info fs-sm">@joshkrause</a>
		</div>
	</div>
</div>

{{!-- <h2>
	Why {{app-name}} 
</h2>
<p>
	safety in numbers, just look at our themes and its sales. We have limited number of themes so we can concentrate more in one
</p>
<p>
	A peace of mind. We do all our testing on actual machines and also browserstack.com; know that what you are coding with has been tested for all UX tests and passed with grace. 
</p>
<p>
	We have taken our sweet time when developing {{app}}. We have been working on this webapp relentlessly for 3 years and continuing. We also have repository deposits to prove it! 
</p>
<p>
	What this means for you? As we all know, as soon as a new bootstrap version is released, it becomes a new market for all authors, most authors will strive to finish their themes to get it out on the market and take those big cuts for being on the first ones on the market. What this does in turn is, and this is a general rule for everything rushed, is that you will get a product with lots of mistakes. Furthermore, when bootstrap stable version is released, it is really not that stable, you will still see major improvements and bug fixes - therefore if the author of the template is not active in the bootstrap community their theme will be impacted greately as they will be unaware of all the minor details and changes that are happening.
</p>
<p>
	We are very active on the community and we like to take our time when creating such products. We do not like to rush things and get things done right. You will love our clean codes and see how organized we made it for you to enjoy and transform a simple product it to something your users will enjoy using.
</p> --}}

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}